@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 30 25% 99%;   /* #fcfbfa */
  --foreground: 0 0% 20%;     /* #333333 */
  --blob: 270 100% 75%;       /* #c480ff (light pastel purple) */
}

.dark {
  --background: 0 0% 8%;      /* #141414 */
  --foreground: 0 0% 93%;     /* #ededed */
  --blob: 270 90% 60%;        /* #a855f7 (purple-500) */
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  @apply max-w-[1280px] mx-auto px-4 md:px-6 lg:px-8
}

.nav_item {
  @apply relative 
    hover:text-purple-500 transition-colors duration-500 ease-in-out
}

